name: Manual Action Testing

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test-action:
    name: Test pagerduty-send-event action
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6

      - name: Test triggering an alert
        id: test-trigger-alert
        uses: ./
        with:
          integration-key: ${{ secrets.PAGERDUTY_TESTING_TOKEN }}
          dedup-key: ${{ github.run_id }}
          event-action: trigger
          summary:
            'Test alert from ${{ github.repository }} by ${{ github.actor }}'
          source: 'GitHub Actions in ${{ github.repository }}'
          severity: critical

      - name: Test acknowledging an alert
        id: test-acknowledge-alert
        uses: ./
        with:
          integration-key: ${{ secrets.PAGERDUTY_TESTING_TOKEN }}
          dedup-key: ${{ github.run_id }}
          event-action: acknowledge
          summary:
            'Test alert from ${{ github.repository }} by ${{ github.actor }}'
          source: 'GitHub Actions in ${{ github.repository }}'
          severity: critical
